.input-wrapper {
    margin-top: 2.5vh;
    padding: 0 3em;
    .input-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        .input-title {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .compression-wrapper {
            display: flex;
            flex-direction: row;
            
            .compression-input {    
                justify-self: center;
                margin-left: 5px;
                margin-right: 5px;
                height: 70%;
                width: 10%;
                text-align: center;
            }

            .compression-text {
                display: flex;
                margin-top: 0px;
                font-size: 15px;
                justify-self: center;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
            }

            p {
                font-size: 2.5vh;
                margin-bottom: 10px;
            }
        }
        .input-error {
            font-style: italic;
            font-size: 14px;
            color: #888888;
            margin-bottom: 0px;
        }
    }

    .loading {
        justify-self: center;
        margin-top: 35px;
    }

    .input-button {
        display: flex;
        padding: 0.5px 5px;
    }

    .input-button-hidden {
        display: none;
    }
    
    .result-wrapper {
        display: flex;
        flex-direction: column;

        .result-sum {
            margin-top: 15px;
            text-align: left;
            p {
                font-size: 15px;
            }
        }

        button {
            align-self: center;
        }
    }

    .result-image {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .result-button {
        margin-top: 25px;
        width: fit-content;
        font-size: 14px;
        padding: 0.5px 5px;
        justify-content: center;
        align-items: center;
        justify-self: center;
    }

    .result-wrapper-hidden {
        display: none;
    }
}